<!DOCTYPE HTML>
<html>
    <head>
        <title>CTU SW Coverage</title>
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Sigmar+One" />
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Questrial" />
    </head>
    <body>
        <h1>CTU SW Coverage</h1>
        <%= yield %>
    </body>
</html>